@{
    ViewBag.Title = "SchoolsProgramme";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<link href="@Url.Content("~/CSS/BookingButtons.css")" rel="stylesheet" />

<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Our Schools Programme</h2></div>

    <div class="row">
        <div class="col-md-9">

            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/schoolspic1.jpg")" alt="" />
            </div>
            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/schoolspic2.jpg")" alt="" />
            </div>
            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/schoolspic3.jpg")" alt="" />
            </div>

            <p>
                We believe passionately about making tennis more accessible for all. We provide opportunities for children and young people to get involved in the game through our school-club links.
            </p>

            <p>
                What can we offer local schools?
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>	FREE taster sessions during school hours with our LTA qualified coaches</li>
                    <li><i class="fa fa-check color-green"></i>	An Out of School Hours Tennis Club</li>
                    <li><i class="fa fa-check color-green"></i>	An invitation to our annual Primary Schools Festival</li>
                    <li><i class="fa fa-check color-green"></i>	Awareness of sessions and activities at our club for pupils and their families</li>
                </ul>
            </p>
            <p>
                What are the benefits for the school?
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>	Increased opportunities for pupils at your school</li>
                    <li><i class="fa fa-check color-green"></i>	Raised profile of your school in the community</li>
                    <li><i class="fa fa-check color-green"></i>	Access for your pupils to top quality facilities and equipment</li>
                    <li><i class="fa fa-check color-green"></i>	Access to a team of qualified and experienced coaches, who can also support the development of teachers and school staff</li>
                    <li><i class="fa fa-check color-green"></i>	Healthier and more physically active pupils, which has been proven to improve concentration and behaviour in children.</li>
                </ul>
            </p>
            <p>

            </p>
        </div>
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contact</h2></div>
            If you would like further information about how we can support your school please contact:
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>Schools development officer: Scott Davies</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>scott@tenniscoaching.london</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>07777 645 628</a></li>
                <!--<li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>-->
            </ul>
            <img class="img-responsive" src="@Url.Content("~/img/Aegon-schools-logo.jpg")" alt="" />
        </div>
    </div>

    <div class="headline"><h2>View existing school links</h2></div>
    <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Sunnyhill Primary School
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    We run an after school tennis club for Sunnyhill pupils at Wigmore Tennis club. The infant club is on Tuesdays from 3:30 - 4:30pm and the junior club is on Thursdays from 3:30 - 4:30pm.
                      <br /> <a class="Yellow" href="https://payableform.appspot.com/forms/q14s0">Book Now</a>
                    <br />
                    Spring Term 2015 is a 10 week course starting the week commencing 11th January. The cost is £44.00 per person.

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Holy Ghost Primary School
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    We run an after school tennis club for Holy Ghost pupils at the school site. The club is for children in years 5 and 6 and is held on Mondays from 3:30 - 4:30pm.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Streatham and Clapham High School
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    In addition to our large tennis programme at the school during the summer terms, we are delighted to offer a brand new 6 week school club for the autumn term 2015. 
                    The club takes place every Thursday from 5pm till 6pm at Wigmore tennis club and is exclusively for girls from the school.
                   <br />
                    Autumn Term 2015 is a 6 week course commencing Thursday November 5th. The cost is £36.00 per player.
                    <br />
                    <a href="https://payableform.appspot.com/forms/qm57m" class="Yellow">Book Autumn 2015 (5th November start)</a>
                    <br />

                    Spring Term 2015 is a 10 week course commencing Thursday 14th January. The cost is £60.00 per player.
                    <br />
                    <a href="https://payableform.appspot.com/forms/qm58n" class="Yellow">Book Spring 2016 (14th January start)</a>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        Streatham and Clapham Junior School
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    We run a breakfast club on Thursday mornings at the school. To join please apply via the school office.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        Rutherford House School
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    We run a breakfast tennis club for Rutherford pupils at the school. The club is on Fridays from 08:00 - 08:45am.
                    <br />

                    Spring Term 2015 is a 10 week course starting Friday 15th January. The cost is £40.00 per player.

                    <br />
                    <a href="https://payableform.appspot.com/forms/lkrrj" class="Yellow">Book Spring 2016 (15th January start)</a>
                 

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        Furzedown Primary School
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    We run an after school tennis club for Furzedown pupils at the school. The club is on Thursdays from 3:00 - 4:00pm. It’s open to years 1, 2 and 3 and will run for each half-term. To sign-up contact the school office.                    
                   
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                       Oliver House School
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    We are pleased to now be the tennis provider for Oliver House School. 
                    Pupils will be attending Wigmore four days a week during 2016 term time.
                    

                </div>
            </div>
        </div>
    </div>

</div>


