@{
    ViewBag.Title = "Junior Programme booking Spring 2016";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<link href="@Url.Content("~/CSS/BookingButtons.css")" rel="stylesheet" />
<link href="@Url.Content("~/CSS/JuniorBookingButtons.css")" rel="stylesheet" />


<div class="container content">
    <div class="headline"><h2>How to book a course place - Spring 2016</h2></div>
    <div class="row">
        <p>
            Please select the tab below to display available courses and the select the one you wish to book.
           
        </p>
        <p>

        </p>
       
    </div>
   
    <div class="row">
        <div class="container">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tots" data-toggle="tab">Tots</a></li>
                    <li><a href="#mini" data-toggle="tab">Mini</a></li>
                    <li><a href="#junior" data-toggle="tab">Junior</a></li>
                    <li><a href="#adult" data-toggle="tab">Adult</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tots">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/Spring2016/_tots.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="mini">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/Spring2016/_mini.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="junior">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/Spring2016/_Juniors.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="adult">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/Spring2016/_adults.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


