@{
    ViewBag.Title = "Policies";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <!--Striped Rows-->
        <div class="col-md-">
            <h2>Our policies  </h2>
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#privacy" data-toggle="tab">Privacy</a></li>
                    <li><a href="#recordedimages" data-toggle="tab">Use of recorded images</a></li>
                    <li><a href="#equality" data-toggle="tab">Equality and diversity</a></li>
                    <li><a href="#workingwithchildren" data-toggle="tab">Working with children</a></li>
                    <li><a href="#childprotection" data-toggle="tab">Child protection</a></li>
                    <li><a href="#coachingcode" data-toggle="tab">Coaching code of conduct</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="privacy">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/policies.jpg")">
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Privacy</h4>


                                <strong>Processing your personal information</strong>

                                <p>If you choose to give us personal information, such as your name, contact details and date of birth (for example to 
                                book a course) then this will be held and processed by JTennis in accordance with 
                                the Data Protection Act 1998. 
                                </p>
                                <p>

                                JTennis may use your personal information for the following purposes:

                                  
                                <ol>
                                    <li>To perform the services you have requested 
                                <li>To make parts of the website easier for you to use by not making you enter your personal information more than once.</li>
                                <li>The reasonable purposes of JTennis, acting always within the Data Protection Act 1998.</li>
                                <li>To market to you JTennis and third party products and services and other purposes as you may have consented to in submitting your personal data.</li>
                                    </ol>

                                We may also use your information for detection of fraud and market research purposes.
                                
                                    
                                    <h4>Sensitive personal information</h4>

                                Sometimes JTennis will collect and process so-called sensitive personal data relating to you.
                                <h4>Ethnicity data</h4>

                                If collected from you, this will be used to identify and keep under review equality of opportunity, and (anonymously) for statistical and reporting purposes.
                                
                                <h4>Cookies</h4>

                                Information may be sent to your computer in the form of an Internet "cookie" to allow the LTA servers to monitor your requirements. The cookie is stored on your computer. The JTennis server may request that your computer return a cookie to it. These return cookies do not contain any information supplied by you or any personally identifiable information about you.

                                Such measures are necessary to allow the JTennis to measure the usability of the systems. Your browser software should however enable you to block cookies if you wish to.
                                <h4>Consent</h4>

                                By submitting your personal information to us, you signify your consent to our using the information provided in the manner described above. If we amend our privacy policy, it will be published on this web site. 
                                    If at any time you wish to update the information which we hold about you, or if you wish to stop receiving information from JTennis, 
                                    please contact julia@tenniscoaching.london


                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="recordedimages">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/policies.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Use of recorded images policy</h4>


                                <a href="@Url.Content("/assets/downloads/Recording and publishing images policy.pdf")"><img src="@Url.Content("~/img/pdf-icon.jpg")" />Download </a>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="equality">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/policies.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Equality and diversity</h4>

                                <a href="@Url.Content("/assets/downloads/equality and diversity policy.pdf")"><img src="@Url.Content("~/img/pdf-icon.jpg")" />Download </a>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="childprotection">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/policies.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Child protection</h4>

                                <p>We believe that children and young people have the right to be safe, secure and free from threat.

                                <p>
                                    We believe that young people have the right to be treated with respect, and to have their concerns listened to and acted upon.
                                </p>
                                <p>
                                    We will ensure that the club provides for the needs of junior members through specific programmes, designated facilities, and safe practice.
                                </p>
                                <p>
                                    We have procedures in place to address poor practice, and to help any young person who appears to be at risk, or who appears to be the victim of abuse. We will offer help and support when a child or young person tells us that they are affected by these issues.
                                </p>
                                <p>
                                    We will take steps to ensure that any club volunteers or professionals working with children are suitable to do so, through the use of references and background checks. We will ensure that all relevant people have been vetted and approved through the LTA’s Criminal Record Bureau disclosure process.
                                </p>
                                <p>
                                    We will ensure that all of those working with children are made aware of the LTA code of conduct for people working with children in tennis, and are required to follow it.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="workingwithchildren">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/policies.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">



                                <h3>Code of Conduct for People Working with Children</h3>

                                <ol>
                                    Those working with children in tennis should:

                                    <li>
                                        Be professional and maintain the highest standards of personal behaviour at all times.
                                    </li>
                                    <li>
                                        Recognise the trust placed in adults by children, and recognise the power held over children by adults. Treat this trust and this power with the highest responsibility.
                                    </li>
                                    <li>
                                        Try to work in an open and accountable manner at all times. Work in view of others wherever possible, be wary of working alone and unobserved, and be willing to accept questions or criticism regarding good practice.
                                    </li>
                                    <li>
                                        Expect others to work in an open and accountable manner. Question and criticise the practice of others if necessary.
                                    </li>
                                    <li>
                                        Maintain a professional relationship with children. Any form of sexual relationship or activity with a child is unacceptable and could lead to disciplinary or legal action.
                                    </li>
                                    <li>
                                        Not be under the influence of drink, drugs or any illegal substance.
                                    </li>
                                    <li>
                                        Use appropriate and respectful forms of discipline and communication. Physical aggression, intimidation, verbal abuse and persistent shouting are not acceptable. Any form of assault (e.g. hitting, kicking, pinching, slapping) should be regarded as a serious incident.
                                    </li>
                                    <li>
                                        Use appropriate language. Don’t swear, and never make sexual or suggestive comments to a child. If a child makes such comments, be prepared to enforce these boundaries in your response.
                                    </li>
                                    <li>
                                        Not appear to favour one child or show interest in one child more than another.
                                    </li>
                                    <li>
                                        Not discriminate against a child because of their age, gender, disability, culture, language, racial origin, religious belief or sexual identity.
                                    </li>
                                    <li>
                                        Use physical contact with players only where necessary. If contact is necessary, (e.g. for the purposes of coaching or first-aid), then explain to the child what the contact is for, and change your approach if he or she appears uncomfortable.
                                    </li>
                                    <li>
                                        Design and use training methods and training programmes that are appropriate to the individual child.
                                    </li>
                                    <li>
                                        Be aware of situations that could be misunderstood or manipulated by other adults. For example, if a coach or official is alone with a child in a clubhouse, changing room or car, he or she may be vulnerable to allegations of misconduct.
                                    </li>
                                    <li>
                                        Be vigilant and aware of how actions can be misinterpreted by children. Actions made with good intentions can seem intrusive or intimidating to some children. Sometimes children become attracted to the adults working with them. Adults should be aware of the impact of their actions, and should sensitively address any misunderstanding.
                                        <br /> If a concern about a child’s welfare comes to your attention:

                                    <li>
                                        Take seriously any suspicion or allegation of abuse, or any disclosure of concern made by a child (or adult).
                                    </li>
                                    <li>
                                        If a concern comes to your attention, record information, including relevant details. Be sure to record opinions or feelings as such; do not record them as facts. Do not question or interview the people involved in the incident of concern.
                                    </li>
                                    <li>
                                        Report any concerns within the area of Child Protection (physical, emotional or sexual abuse, neglect or bullying), in confidence and without delay, to your club, county or LTA Child Protection Officer. If CPOs cannot be contacted and there appears to be an immediate risk, contact the police or your local social services.
                                    </li>
                                    <li>
                                        Never discuss an allegation or suspicion with another person, (other than the police or social services), before receiving advice from the club, county or LTA Child Protection Officer.

                                    </li>
                                </ol>

                                Remember that it is the responsibility of all adults to safeguard children in sport. By recognising, following and discussing the principles behind this code, you are helping to make bad practice and abuse unwelcome in tennis.

                                <br />For more information on issues like these, see the range of guidance resources produced by the LTA Child Protection Department. Go to www.lta.org.uk/childprotection, or contact the department directly using the details below.

                                <p>
                                    LTA Child Protection
                                    <br />T: 0208 487 7008/7116
                                    <br /> (24 hour): 07971 141 024
                                    <br />E: childprotection@lta.org.uk
                                    <br />www.LTA.org.uk/childprotection
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in" id="coachingcode">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/policies.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Coaching code of conduct</h4>

                                <strong>
                                    LTA CODE OF ETHICS AND CONDUCT FOR LICENSED AND REGISTERED TENNIS
                                    COACHES AND ASSISTANTS
                                </strong>
                                <p>
                                    LTA Licensed & Registered Coaches and Coaching Assistants are deemed to be bound by, and
                                    to have accepted, this Code of Ethics and Conduct. This sets out responsibilities to tennis
                                    players and parents, to coaching and other colleagues, to the LTA as their National Governing
                                    Body, to their coaching employer and to society.
                                </p>
                                <ol>
                                    LTA Licensed & Registered Coaches will adhere to the following Code of Ethics and Conduct:
                                    <li>Always put your players’ best interests at the centre of everything you do.</li>
                                    <li>Treat players with respect at all times. Be honest and consistent with them.</li>
                                    <li>
                                        Treat all players fairly regardless of (but not limited to) gender, ethnicity, age, disability,
                                        place of origin, athletic potential, sexual orientation, religious beliefs, political beliefs and
                                        socio-economic status.
                                    </li>
                                    <li>
                                        Encourage all players and fellow coaches and assistants to have respect for one
                                        another.
                                    </li>
                                    <li>Encourage players and other coaches and assistants to develop and maintain integrity.</li>
                                    <li>Prepare players to respond to success and failure in a dignified manner.</li>
                                    <li>Respect the confidentialities of players/parents/officials as appropriate.</li>
                                    <li>
                                        Clarify in advance with players/parents/employers the number of sessions, fees, method
                                        of payment; explain expected outcome and progression from the coaching or sessions.
                                    </li>
                                    <li>
                                        Be sensitive to your players’ self-esteem when providing constructive feedback to
                                        players.
                                    </li>
                                    <li>
                                        Encourage and facilitate players’ independence and responsibility for their own
                                        behaviour, performance, decisions and actions.
                                    </li>
                                    <li> Involve the players in decisions that will affect them.</li>
                                    <li>
                                        Recognise players’ right to consult with other coaches and advisers. Co-operate fully
                                        with other specialists (eg sport scientists, doctors, physiotherapists, etc).
                                    </li>
                                    <li>
                                        When asked to coach a player, ensure that any previous coach/player relationship has
                                        been ended by the player/others in a professional manner.
                                    </li>

                                    <li>
                                        Be acutely aware of the power that coaches and coaching assistants develop over
                                        players in the coaching relationship and avoid any intimacy (sexual or otherwise) with
                                        players.
                                    </li>
                                    <li>
                                        Avoid situations with players that could be construed as compromising and actions that
                                        others could perceive inappropriate.
                                    </li>
                                    <li> Actively discourage the use of performance enhancing drugs, and any illegal substance.</li>
                                    <li>
                                        At all times act as a role model by maintaining the highest standards of personal
                                        conduct and projecting a favourable image of tennis and of coaching at all times.
                                    </li>
                                    <li>
                                        Accept and respect the role of officials in ensuring that competitions are conducted fairly
                                        and according to the rules.
                                    </li>
                                    <li> Ensure that qualifications and affiliations to associations are not misrepresented.</li>
                                    <li>
                                        Report any alleged criminal offence, police investigation or court case to the LTA at the
                                        earliest opportunity.
                                    </li>
                                    <li>
                                        Know and abide by tennis rules, regulations and standards, and encourage players to
                                        do likewise.
                                    </li>
                                </ol>

                                Any breach of any of the provision(s) of this Code of Ethics and Conduct by a Licensed Coach,
                                Registered Coach or Registered Coaching Assistant shall constitute a breach of the Conditions
                                of the LTA Coach Licensing Scheme or of the Conditions of the LTA Registration Scheme as
                                applicable and shall be dealt with under the procedures as set out in those Conditions.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Striped Rows-->
    </div>
</div>

