 <!--=== Footer Version 1 ===-->
<div class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html"><img id="logo-footer" class="footer-logo" href="@Url.Content("~/assets/img/logo2-default.png")" alt=""></a>

                </div><!--/col-md-3-->
                <!-- End About -->
                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">

                </div><!--/col-md-3-->
                <!-- End Latest -->
                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="@Url.Action("About","Other")">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="@Url.Action("Recruitment","Other")">Work for JTennis</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="@Url.Action("ContactUs","Other")">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->
                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                       Wigmore Tennis Club <br />
                        43 Becmead Avenue<br />
                        SW16 1UJ<br />
                        Phone: 07816 004992 <br />

                        Email: <a href="mailto:julia@tenniscoaching.london">julia@tenniscoaching.london</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2015 &copy; All Rights Reserved.
                        <a href="@Url.Action("Policies","Other")">Our Policies</a> | 
                    </p>
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="https://www.facebook.com/pages/JTennis/1377833565863509" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="http://uk.linkedin.com/pub/julia-searle/38/898/95a" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/julia_tennis" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>
