
<!--=== Header ===-->

<div class="header">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">

        </div>
    </div>
    <!-- End Topbar -->
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation" >
        <!--<i class="icon-custom icon-color-dark rounded-x fa fa-home"></i>-->
        <div class="container">
          
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img id="logo-header" src="@Url.Content("~/img/JTennis_logo-horiz-small.png")" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                   
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Adults
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("GroupProgramme","Adults")">Our group programme</a></li>
                            <li><a href="@Url.Action("TeamTraining","Adults")">Team training</a></li>
                            <li><a href="@Url.Action("Cardio","Adults")">Cardio Tennis</a></li>
                            <li><a href="@Url.Action("PrivateLessons","Adults")">Private Lessons</a></li>
                            <li><a href="@Url.Action("TermDates","Adults")">Term dates</a></li>   
                            <li><a href="@Url.Action("CourseSyllabus","Adults")">Course Syllabus</a></li>
                            <li><a href="@Url.Action("FAQ","Adults")">FAQ</a></li>
                            <li><a href="@Url.Action("Terms","Adults")">Terms and conditions</a></li>
                        </ul>
                    </li>

                    <!-- End Pages -->
                    <!-- Features -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Juniors
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Tots","Juniors")">Tots Tennis (3-4yrs)</a></li>
                            <li><a href="@Url.Action("MiniTennis","Juniors")">Mini Tennis (5-11yrs)</a></li>
                            <li><a href="@Url.Action("Junior","Juniors")">Junior Tennis (11-17yrs)</a></li>
                            <li><a href="@Url.Action("TennisLeaders","Juniors")">Tennis Leaders (14yrs+)</a></li>
                            <li><a href="@Url.Action("PrivateLessons","Juniors")">Private Lessons</a></li>
                            <li><a href="@Url.Action("Performance","Juniors")">Academy</a></li>
                            <li><a href="@Url.Action("TermDates","Juniors")">Term dates</a></li>
                           
                            <li><a href="@Url.Action("CourseSyllabus","Juniors")">Course Syllabus</a></li>
                            <li><a href="@Url.Action("FAQ","Juniors")">FAQ</a></li>
                            <li><a href="@Url.Action("Terms","Juniors")">Terms and conditions</a></li>

                        </ul>
                    </li>

                    <!-- End Features -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Camps
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("About","Camps")">About our Camps</a></li>
                            <li><a href="@Url.Action("Dates","Camps")">Camp dates</a></li>
                            <li><a href="@Url.Action("BookNow","Camps")">Book now</a></li>
                            <li><a href="@Url.Action("Schedule","Camps")">Schedule</a></li>
                            <li><a href="@Url.Action("FAQ","Camps")">FAQ</a></li>
                            <li><a href="@Url.Action("Terms","Camps")">Terms and conditions</a></li>
                        </ul>
                    </li>
                    <!-- Blog -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Community
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("SchoolsProgramme","Community")">Our school programme</a></li>
                            <li><a href="@Url.Action("LondonYouthGames","Community")">London Youth Games</a></li>
                        </ul>
                    </li>
                    <!-- End Blog -->
                    <!-- Contacts -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Venues
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Wigmore","Venues")">Wigmore LTC (Streatham)</a></li>
                            <li><a href="@Url.Action("Camber","Venues")">Camber LTC (East Dulwich)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Our team
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("OurCoachingTeam","Team")">About our team</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                           Compete
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Tournaments","Compete")">Tournaments</a></li>
                            <li><a href="@Url.Action("MatchPlay","Compete")">Matchplay</a></li>
                            <li><a href="@Url.Action("Leagues","Compete")">Leagues</a></li>
                            <li><a href="@Url.Action("Teams","Compete")">Teams</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","Shop")">
                            Shop
                        </a>     
                    </li>
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>

<!--=== End Header ===-->
