<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Monday 5pm (13-14yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>        </tr>
        <tr>
            <td>Monday 5pm Girls (14-17yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=164" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Monday 5pm Girls (14-17yrs)"> <input type="hidden" name="amount" value="126.5">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Tuesday 5pm (10-12yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>
        </tr>
        <tr>
            <td>Tuesday 5pm Squad (12 & U)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=231" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Tuesday 5pm Squad (12 & U)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Tuesday 6pm Boys (13-17yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>
        </tr>
        <tr>
            <td>Tuesday 6pm Girls (13-15yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>       
        </tr>
        <tr>
            <td>Tuesday 7pm Boys (14-17yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=162" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Tuesday 7pm Boys (14-17yrs)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Friday 4pm Squad (Girls)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>  
        </tr>
        <tr>
            <td>Friday 5pm (10-12yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>       
        </tr>
        <tr>
            <td>Saturday 1pm (12-15yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=158" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Saturday 1pm (12-15yrs)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Saturday 4pm Squad (14 & U)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=226" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Saturday 4pm Squad (14 & U)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Saturday 5pm Squad (18 & U)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=227" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Saturday 5pm Squad (18 & U)"> <input type="hidden" name="amount" value="198">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>

    </tbody>
</table>
