<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th>Wigmore Members booking</th>
            <th>Non members booking</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Monday 4pm (10-11yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>
        </tr>
        <tr>
            <td>Monday 4pm (8-9yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=218" class="OrangeMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Monday 4pm (8-9yrs)"> <input type="hidden" name="amount" value="126.5">  <input type="hidden" name="currency_code" value="GBP">   <input class="OrangeMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Monday 4pm (7-8yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=217" class="RedMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Monday 4pm (7-8yrs)"> <input type="hidden" name="amount" value="126.5">  <input type="hidden" name="currency_code" value="GBP">   <input class="RedMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Monday 4pm (5-6yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>        </tr>
        <tr>
            <td>Tuesday 4pm (10-11yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=206" class="GreenMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Tuesday 4pm (10-11yrs)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="GreenMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Tuesday 4pm (8-9yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>
        </tr>
        <tr>
            <td>Tuesday 4pm (5-7yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>
        </tr>
        <tr>
            <td>Tuesday 5pm (5-6yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=223" class="RedMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Tuesday 5pm (5-6yrs)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="RedMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Tuesday 5pm (7-8yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>
        </tr>
        <tr>
            <td>Wednesday 4pm (6-8yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=168" class="RedMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Wednesday 4pm (6-8yrs)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="RedMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Wednesday 5pm Squad</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=161" class="OrangeMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Wednesday 5pm Squad"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="OrangeMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Thursday 4pm (5-6yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>     </tr>
        <tr>
            <td>Thursday 4pm (8-9yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>      </tr>
        <tr>
            <td>Thursday 4pm (7-8yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>      </tr>
        <tr>
            <td>Friday 4pm (8-9yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>       </tr>
        <tr>
            <td>Friday 4pm (4-5yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>        </tr>
        <tr>
            <td>Friday 4pm (6-7yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>      </tr>
        <tr>
            <td>Friday 5pm Squad</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=214" class="RedMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Friday 5pm Squad"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="RedMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Saturday 9am (5-7yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>      
        </tr>
        <tr>
            <td>Saturday 10am (5-7yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>       
        </tr>

    </tbody>
</table>
