@{
    ViewBag.Title = "Our Coaching Team";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row team margin-bottom-20">
        <div class="col-md-4">
            <div class="thumbnail-style">
                <img alt="Julia Searle" src="@Url.Content("~/img/coaches/Julia 872x724.png")" class="img-responsive">
                <h3><a>Julia Searle</a> <small>Founder of JTennis</small></h3>
                <p>Get in touch</p>
                <ul class="social-icons">
                    <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="https://www.facebook.com/pages/JTennis/1377833565863509"></a></li>
                    <li><a class="rounded-x e-mail" href="mailto:julia@tenniscoaching.london"></a></li>
                    <li><a class="rounded-x phone" href="#">0203 582 4078</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="margin-bottom-10"></div>
            <p>
                <span class="dropcap-bg">O</span>
                ur Head Coach, Julia Searle, leads a team of five talented professional coaches who provide either private coaching sessions or group coaching sessions according to your needs. All our coaches are LTA qualified and hold a recent First Aid certificate and CRB Police Check.
            </p>
            <p>
            </p><br>

            <blockquote class="margin-bottom-30">
                <p>
                    <em>
                        "My real passion lies in the grass roots level and getting more people (adults and juniors) involved in tennis. <br />
                        I believe that this is a sport which everyone can learn to play well and hopes to help all players to improve. <br />
                        I also believe that tennis is about much more than just coaching, and I am committed to helping improve the competitions, the teams, and the social play"
                    </em>
                </p>
                <small><em>Julia x</em></small>
            </blockquote>

            <div class="row list-style-v1">
                <div class="col-md-12">
                    <h3><small>LTA Level 4 Performance Coach</small></h3>
                    <ul class="list-unstyled margin-bottom-35">
                        <li>
                            <i class="color-green fa fa-check"></i> She has coached three juniors who have gone on to be ranked no.1 in Great Britain in their age group.
                        </li>
                        <li>
                            <i class="color-green fa fa-check"></i>  A full-time coach since 2003, Julia has held previous Head Coach jobs at Brondesbury Tennis Club and at Split Second Sport, a community organisation operating in Barnet/Brent.
                        </li>

                        <li>
                            <i class="color-green fa fa-check"></i>  Julia also spent three years at Batchwood Academy in St. Albans (one of 18 LTA High Performance Centres in the UK) where she worked with over 20 national and regional juniors.
                        </li>
                        <li><i class="color-green fa fa-check"></i> Julia grew up in North London, representing Middlesex in every age group from u14s through to Seniors. </li>
                        <li>
                            <i class="color-green fa fa-check"></i> She was ranked in the top 20 juniors nationally and went on to represent Arkansas State University in NCAA Division 1.
                        </li>
                        <li>
                            <i class="color-green fa fa-check"></i> Julia is also Captain of the Wigmore Ladies 1st team who have just achieved back to back promotions in the Surrey Summer Leagues.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="headline"><h2>Our Coaches</h2></div>
    <div class="row team margin-bottom-20">
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/Jimmy 872x724.png")" class="img-responsive">
                <h3><a>Jimmy Callus</a> <small>LTA Level 3 Performance Coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">
                            <li>
                                <i class="color-green fa fa-check"></i>	Coaches all age groups from tots to adults
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Has coached "Teddy Tennis" - a specialist programme for 2-5yr olds
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Current coach to the Wigmore Ladies 3rd Team
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Current coach to Valeria (age 10yrs), Wigmore member & highly ranked Surrey player
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Learned to play tennis at Wigmore at the age of 7
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Has coached or assisted on the Wigmore programme since the age of 16
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Represented Surrey County from the age of 9
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Started a mini programme for kids in the neighbourhood while living in Singapore aged 11
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/Michael 872x724.png")" class="img-responsive">
                <h3><a>Michael Davis</a> <small>LTA Level 4 Performance coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>	Coaches all levels and age groups
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Current coach to the Wigmore u14 & u18 performance squads
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Current coach to Luke Hymas (age 14yrs), Wigmore member & highly ranked Surrey player
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Qualified Cardio Tennis coach
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Studying part-time for a sports science degree
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	LTA tournament referee and is responsible for the Wigmore competition programme
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Regularly competes himself on the Surrey county circuit

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/Joe 872x724.png")" class="img-responsive">
                <h3><a>Joe Perkins</a> <small>LTA Level 3 Club coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>	Coaches all levels and age groups including several of our adult groups
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Current coach to the Wigmore u8, u9 and u10 performance squads
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Current coach to Sophie Quagraine (age 9yrs), Wigmore member & highly ranked Surrey player
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Former apprentice at an LTA High Performance Centre (Batchwood)
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Has worked with several nationally ranked juniors
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Manages the Wigmore junior teams in the Surrey Aegon competition

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="margin-bottom-60"></div>

    <div class="row team margin-bottom-20">

        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/Scott 872x724.png")" class="img-responsive">
                <h3><a>Scott Davies</a> <small>LTA Level 3 Club coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>		Coaches groups across the board at Wigmore - tots through to adults
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		Manages the schools and community links programme at Wigmore
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		Responsible for organizing events - Great British Tennis Weekend and Mini Tennis Month
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		LTA qualified competition referee
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	    Qualified Cardio Tennis coach
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	    Holds the PTR (Professional Tennis Registry) Professional qualification
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		1st class honours Degree in Sport & Exercise Science
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		Represented former club in Cheshire leagues and current Wigmore team player in Surrey leagues
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		Played in the England Schools National Finals
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>		Has a mission to promote the game of tennis and get people to love it from the first time they hit a ball
</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/George 872x724.png")" class="img-responsive">
                <h3><a>George Cupsa</a> <small>LTA Level 3 Club coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>	Involved in tennis at international level for over 10 years (as a player, a hitter and a coach)
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Travelled as a coach/hitter with several WTA ranked players, most recently Raluca Olaru ranked 53 in the world
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Has delivered tennis holidays for Jonathan Markson
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Qualified racket re-stringer
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	As a player, achieved an ATP world ranking of 1367
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Was ranked among the top 125 juniors in the world

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/20150723-al.jpg")" class="img-responsive">
                <h3><a>Alejandro Carmona</a> <small>ITF Level 3 Coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>	Coached full time since 2003 in Venezuala, Argentina, and New York
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Trained at Bollettieri Academy in Florida for 5 seasons as a junior
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Was ranked #10 in Venezuela and played Futures tournaments in South America..
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Has coached 2 players on the WTA tour
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i> Has coached 5 players to #1 in Venezuelan national rankings, and one to #2 in South America
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i> Qualified lawyer with post graduate in Employment Law, and holds an MBA
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="margin-bottom-60"></div>

    <div class="row team margin-bottom-20">
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/amy2.jpg")" class="img-responsive">
                <h3><a>Amy Quagraine</a> <small>LTA Level 2 Club coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>	Coaches all levels and age groups
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>Has been a member of Wigmore since the age of 8
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Has represented the club for many years and has played for the Ladies 1st Team
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Aims to help as many children as possible become more serious/committed to their tennis
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Loves to provide everyone (children and adults) with a great first tennis experience
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img alt="" src="@Url.Content("~/img/coaches/ava.jpg")" class="img-responsive">

                <h3><a>Ava Peruhova</a> <small>LTA Level 1 coach</small></h3>
                <div class="row list-style-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-35">

                            <li>
                                <i class="color-green fa fa-check"></i>	Ava (Lyuboslava) Peruhova began playing tennis at the age of 4 and has played her whole life at a high level.
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>Ava has experience of coaching players of all levels including adults in Bulgaria, and, since moving to the UK last year, has begun her LTA coaching qualifications.
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>Competed in her native Bulgaria and all over Europe, winning lots of tournaments over the years.
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	Her favourite and most precious trophy is the $10K ITF Women's Doubles Final trophy in Turkey last year.
                            </li>
                            <li>
                                <i class="color-green fa fa-check"></i>	She has had a WTA womens doubles world ranking and is trying to get a singles world ranking.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <hr class="margin-bottom-40">

    </div>
    <!--/container-->
    <!--=== End Content Part ===-->
