@{
    ViewBag.Title = "Junior Programme booking Summer 2015";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<link href="@Url.Content("~/CSS/BookingButtons.css")" rel="stylesheet" />
<link href="@Url.Content("~/CSS/JuniorBookingButtons.css")" rel="stylesheet" />


<div class="container content">


    <div class="headline"><h2>How to book a course place - Summer 2015</h2></div>

    <div class="row">

        <p>
            Please click below on the course that you wish to book for.
            Payment can be made using paypal or by using a debit or credit card.
        </p>
        <p>
            If you are booking before the earlybird discount deadline (applies to the group programme only), your earlybird discount will be applied
            automatically when you click "add to cart"
        </p>
        <p>
            The cost of all 12 1-hour group lessons is £120 for the term or £108 if you book before the 7th March. Monday courses have 1 fewer session due to the bank holiday and are priced at £110 (£99 if you book before the 7th March).

            <br />
            If your child is not a member of Wigmore Tennis Club, you will be charged an additional £18.00 guest fee.
            Alternatively, they can become a club member by filling in the
            <a href="http://wigmoretennis.clubsolution.co.uk/proc_bruger.asp"> application form  here.</a>
            Junior membership is £20 for children age 9 & under or £60 for children age 10-17yrs.
        </p>
    </div>
    <div>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCMgZODe54krdyHijWvWt3HRQNDf3GiEf6DCNjSRb3EiF7whK3G6fuNHXlkUyUvdGSfWzwImSESPjRlXi2rEgZxRK9I+/H37LpbRix4Lg0lXWakAkJkIMbmSTcX1Z37z8nVBUYBJnlC3YmwuefqBErlJD4rDpdE+/FKckSu4G9XLTELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAi8AhfdFI7xE4AwF3+9L4/lTs04yZdKdI/zKTez5kd44wkNIHSBtD9X39acqZqkmZbOZauU9BGt8BPLoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwMjIzMTU0NzIzWjAjBgkqhkiG9w0BCQQxFgQUvMGe+b7Zu705O30RW1GGK9mT8G8wDQYJKoZIhvcNAQEBBQAEgYBDVWtoqeoyo/MoSGrTL1CGiZegol1Z7zA21Ed1RZLdDyug+DUntc51p+9MJcX1xpJnSirnzm64gF3WD4ta6IvXQcYnrlattNCTI/bzS+N7YzpEk5A+JVoSFmv41etwtiV0Mrenjtilhji+ItkZcYo9wOn6W7DlYiczGR1VVQz0ug==-----END PKCS7-----">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
    <div class="row">
        <div class="container">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tots" data-toggle="tab">Tots</a></li>
                    <li><a href="#mini" data-toggle="tab">Mini</a></li>
                    <li><a href="#junior" data-toggle="tab">Junior</a></li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tots">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/_Summer2015tots.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="mini">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/_Summer2015mini.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade in" id="junior">
                        <div class="row">
                            <div class="col-md-9">
                                <div>
                                    @Html.Partial("~/Views/BookingForms/_Summer2015Juniors.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  

