@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <!-- General Questions -->
            <div class="headline"><h2>General Questions</h2></div>
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                What does my child need to bring?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            A bottle of water and a racket. Rackets can be provided if your child does not have their own.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                What does my child need to wear?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Loose, comfortable clothing and tennis shoes. Because the club has brand new court surfaces, all players must wear flat soled tennis shoes. </p>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                How many children will be in a group?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>There will be a maximum ratio of coaches to children of 1:8 (often better!) in all mini tennis and junior classes. Tots tennis classes will have a maximum ratio of 1:6.</p>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                What happens in wet weather?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Our classes will go ahead in most weather. Please see our terms and conditions.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    What will my child be doing?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Each lesson will comprise of a physical warm up and a tennis-specific warm up, followed by coaching,
                                    drills and games centred around the theme of the week. Please view our <a href="@Url.Action("Syllabus","Juniors")">course syllabus</a> page for more information.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    Does my child need to have played tennis before?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our groups are split initially by age. At certain times, we have more than one group of the same age playing simultaneously. In these instances, players will be split according to standard, which will be at the discretion of the coaching team. Players who are exceptionally strong for their age group may be invited to join our performance squads as well.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    Who are the coaches?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                All our coaches are LTA or PTR qualified coaches. All hold a recent Criminal Records check and all hold first aid certificates.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    How do I book?

                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                To book click on the relevant 'Book' button and then complete and submit the online form, one per player. After submitting the form the PayPal application will be available to pay by Credit Card, you do not need a PayPal account to use this method of payment.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                    For groups based at Wigmore, does my child have to be a member of Wigmore Tennis Club?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Non members are allowed to participate in the group programme for ONE TERM ONLY, and the club charges a small guest fee which is payable at the time of booking.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Cancellation
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Please see our <a href="@Url.Action("Terms","Juniors")">terms and conditions</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                    Bad Behaviour
                                </a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse">
                            <div class="panel-body">
                                Please see our <a href="@Url.Action("Terms","Juniors")">terms and conditions</a>
                            </div>
                        </div>
                    </div>




                </div><!--/acc-v1-->
                <!-- End General Questions -->
                <!-- Other Questions -->
                <div class="headline"><h2>Other Questions</h2></div>
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    Can find the answer to your question?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="@Url.Content("~/img/ask-a-question.jpg")" alt="" />
                                    </div>
                                    <div class="col-md-8">
                                        If you can't find the answer to your question about our Junior group programme, please drop Julia an email, she will be glad to help.
                                        <br />
                                        <a href="mailto:julia@tenniscoaching.london">julia@tenniscoaching.london</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/col-md-9-->
        </div>
        <div class="col-md-3">
            <!-- Contacts -->
            @Html.Partial("_Contact")
            <!-- Info Block -->
        </div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
