@using System.Security.Policy
@{
    ViewBag.Title = "Our Academy";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Performance</h2></div>

    <div class="row">


        <div class="col-md-4 margin-bottom-25">
            <img class="img-responsive" src="@Url.Content("~/img/performance2.jpg")" alt="" />
        </div>


        <p>
            Wigmore runs a large performance programme, designed to stretch the most committed and able junior players. Entry into the programme is by
            invitation-only, and players must fulfil additonal criteria depending on which section of the performance programme they are part of.
            <br />
            <br />
            Our performance programme runs on a not for profit basis, ensuring we
            provide access to the best possible coaching in the most affordable way
            possible.
            <br />
            <br />
            There are three sections which make up our performance programme

            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-check color-green"></i> MINI ACADEMY (10U). Minimum of 3 hours per week training
                </li>
                <li>
                    <i class="fa fa-check color-green"></i> JUNIOR SQUADS (14U). Either 1.5 or 3 hours per week training
                </li>
                <li>
                    <i class="fa fa-check color-green"></i>	JUNIOR ACADEMY. Minimum of 4 hours per week training
                </li>
            </ul>




            The cost of the performance programme varies according to the section of the programme and the number of times per week the player is training,
            but the cost can be as little as £6.24 per hour.

        </p>
        <p>

            
            Please note, we do reserve the right to cancel a course after it has started.

            <hr />You can read more about the standards required for section of the performance programme below and, once invited, 
            can also register and book for the Spring term 2017 below
        </p>


    </div>

    <div class="col-md-12">

        <div class="tab-v1">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#minired" data-toggle="tab">Mini Academy</a></li>
                <li><a href="#squad" data-toggle="tab">Junior Squads</a></li>
                <li><a href="#juniorperformance" data-toggle="tab">Junior Academy</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="minired">
                    <div class="col-md-9">

                        <p>
                            <h2>What is the Mini Academy Package?</h2>
                            <ul class="list-unstyled">
                                The package costs £188 for the Spring Term 2017 and includes the following:
                                <li><i class="fa fa-check color-green"></i>	2 x 1.5 hr squads per week (total of 30 hours training)</li>
                                <li><i class="fa fa-check color-green"></i>	2 x Academy T-Shirt (in grey)</li>
                                <li><i class="fa fa-check color-green"></i>	1 x Academy Sweatshirt (in grey)</li>
                                <li><i class="fa fa-check color-green"></i>	1 x Skipping rope      </li>
                                <li><i class="fa fa-check color-green"></i>	1 x Player Notebook* (players will record what they have learned, their goals, match results & who they have played, match tactics and the strengths/weaknesses of their opponents).  </li>
                            </ul>
                        </p>
                        <p>
                            <h2> What is the Mini Academy Schedule?</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Mondays 5pm-6.30pm RED AND ORANGE</li>
                                <li><i class="fa fa-check color-green"></i>	Tuesdays 5pm-6.30pm ORANGE AND GREEN</li>
                                <li><i class="fa fa-check color-green"></i>	Wednesdays 5pm-6.30pm RED, ORANGE AND GREEN</li>
                                <li><i class="fa fa-check color-green"></i>	Thursdays 5pm-6.30pm RED and GREEN</li>
                                <li><i class="fa fa-check color-green"></i> Fridays 5pm-6.30pm RED and ORANGE</li>
                            </ul>
                        </p>
                        <p>
                            <h2>What is a Mini Academy player?</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i> is committed to 3 hours of tennis a week and attends at least 80% of squads	</li>
                                <li><i class="fa fa-check color-green"></i>	participates in at least 1 tournament a month </li>
                                <li><i class="fa fa-check color-green"></i> brings their racket, water, skipping rope and notebook on court</li>
                                <li><i class="fa fa-check color-green"></i>	demonstrate a strong work ethic</li>
                                <li><i class="fa fa-check color-green"></i>	have a positive attitude</li>
                                <li><i class="fa fa-check color-green"></i>	are committed to improving technically, tactically, physically and mentally </li>
                                <li><i class="fa fa-check color-green"></i> seeks private lessons during holidays </li>
                                <li><i class="fa fa-check color-green"></i>	makes tennis their number 1 sport </li>
                            </ul>
                        </p>
                        <p>
                            <h2> Mini Academy player checklist</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i> Desire to improve (Always thinks they can be better)  	</li>
                                <li>
                                    <i class="fa fa-check color-green"></i>	Independence
                                    <ul class="list-unstyled">
                                        <li>&nbsp;&nbsp;-Bring kit on court</li>
                                        <li>&nbsp;&nbsp;-Know their tennis coaching schedule</li>
                                        <li>&nbsp;&nbsp;-Know their tournament schedule</li>
                                        <li>&nbsp;&nbsp;-Know their goals</li>
                                    </ul>
                                </li>
                                <li><i class="fa fa-check color-green"></i>  Understand rules and fair play   </li>
                                <li><i class="fa fa-check color-green"></i>	 Positive attitudes towards training and competing, as well as coaches and fellow players   </li>
                                <li><i class="fa fa-check color-green"></i>	 Desire to win   </li>
                                <li><i class="fa fa-check color-green"></i>	 Must engage in regular physical activity outside of tennis    </li>

                            </ul>
                        </p>
                        <a href="@Url.Content("~/img/Footwork checklist for a performance player.pdf")">Footwork checklist for a Wigmore Academy player (pdf)</a>
                        <br />
                        <a href="@Url.Content("~/img/Tactical Checklist for a performance player.pdf")">Tactical Checklist for a Wigmore Academy player (pdf)</a>
                    </div>
                    <div class="col-md-3">
                        <!-- Contacts -->
                        <div class="headline"><h2>Joining</h2></div>
                        <a href="https://payableform.appspot.com/forms/15ol1a">Book for Spring Term 2017</a>
                        <p>
                            If you would like to be considered for the academy please contact
                            <ul class="list-unstyled who margin-bottom-30">
                                <li><a href="#"><i class="fa fa-home"></i>Head of performance: Julia Searle</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
                            </ul>
                        </p>
                        <img class="img-responsive" src="@Url.Content("~/img/JTennis_logo.jpg")" alt="" />

                    </div>
                </div>


                <div class="tab-pane fade in" id="squad">
                    <div class="col-md-9">
                       <h2>Junior squads</h2>
                            Designed for more able juniors at the club who wish to play once or twice per week.

                            The cost of one squad per week (1.5 hours) is £165.
                            <br />The cost of two squads per week (3 hours) £254.

                            <br />(10% early booking discount is available for both these squad options SPRING TERM ONLY). Use the coupon code EARLYBIRD10 before 12th December.
                            <h2>Schedule</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i> Tuesday 5pm-6.30pm 14&U</li>
                                <li><i class="fa fa-check color-green"></i> Wednesday 5pm-6.30pm 14&U</li>
                                <li><i class="fa fa-check color-green"></i> Thursdays 5pm-6.30pm 14&U</li>
                                <li><i class="fa fa-check color-green"></i> Saturdays 5pm-6.30pm 14&U</li>
                            </ul>
                        </p>

                    </div>
                    <div class="col-md-3">
                        <!-- Contacts -->
                        <div class="headline"><h2>Booking</h2></div>
                        To book one session per week at a cost of £165, please <a href="https://payableform.appspot.com/forms/15ol3u">
                         complete the form here.</a>
                        <br />
                        To book two sessions per week at a cost of £254, please <a href="https://payableform.appspot.com/forms/11sets">
                            complete the form here.
                        </a>
                        <br />

                        



            <p>
                            If you would like to be considered for the squad please contact
                            <ul class="list-unstyled who margin-bottom-30">
                                <li><a href="#"><i class="fa fa-home"></i>Head of performance: Julia Searle</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
                            </ul>
                        </p>
                        <img class="img-responsive" src="@Url.Content("~/img/JTennis_logo.jpg")" alt="" />

                    </div>
                </div>


                <div class="tab-pane fade in" id="juniorperformance">
                    <div class="col-md-9">
                        <p>
                            <h2>What is the Junior Academy package?</h2>   
                            The Junior Academy is designed for players who are already competing at regional and national level, and have aspirations to progress even higher. Typically, these will be yellow ball players targeting a career as a professional tennis player.
<br />  The 4 hours per week package (2 days) costs £340 for the Spring Term.
<br />  The 6 hours per week package (3 days) costs £510.00 for the Spring Term.
<br />  The unlimited package (4 days) costs £608.00 for the Spring Term.

                          
                        </p>
                        <p>
                            <h2> What is the schedule?</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Mondays 5pm-7pm</li>
                                <li><i class="fa fa-check color-green"></i>	Tuesdays 6pm-8pm</li>
                                <li><i class="fa fa-check color-green"></i>	Wednesdays 5pm-7pm</li>
                                <li><i class="fa fa-check color-green"></i>	Thursdays 5pm-7pm</li>
                                
                            </ul>
                        </p>

                        <h2>What is a Junior Academy player?</h2>
                        <p>
                            Junior Academy players will have the highest standards of professionalism in their tennis. They will be committed to working hard tactically, technically, physically and mentally, and will be competing several times per month in tournaments.
                          <br />  Participants will be expected to train a minimum of 2 times per week (4 hours), although a package is offered for 8 hours per week.
</p>
                        </div>

                        <div class="col-md-3">
                            <!-- Contacts -->
                            <div class="headline"><h2>Joining</h2></div>
                            <a href="https://payableform.appspot.com/forms/yxbfs">Book for Spring Term 2017</a>
                            <p>
                                If you would like to be considered for the academy please contact
                                <ul class="list-unstyled who margin-bottom-30">
                                    <li><a href="#"><i class="fa fa-home"></i>Head of performance: Julia Searle</a></li>
                                    <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
                                </ul>
                            </p>
                            <img class="img-responsive" src="@Url.Content("~/img/JTennis_logo.jpg")" alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>








